
<br><br>
<div class="message">
  <a href="" class="message_profile-pic"><%= image_tag message.user.image.url, class: "message_profile-pic" %>
</a>
  <a href="" class="message_username"><%= message.user.first_name %></a>
  <span class="message_timestamp">
    <em><%= message.created_at.strftime("%I:%M %p") %> </em>
  </span>
  <span class="message_content">
    <%= message.content %>
    <!-- <%#= image_tag message.image.url if message.image.persist? %> -->
  </span>
</div>
